

<div class="container mt-3">
    <div class="">
        <form action="/Comment/CommentAdd/" method="post">
            <textarea class="form-control" name="CommentContent" placeholder="Yorumunuz..." required=""></textarea>
            <button type="submit" class="btn btn-success submit mt-3 mb-3 float-right">Yorum Yap..</button>
        </form>
    </div>
</div>