@using EntityLayer.Concrete
@model IEnumerable<EntityLayer.Concrete.Entry>
@{
    ViewData["Title"] = "MainPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Kafası atar ve gerekeni yapar</h2>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-7 col-lg-7">
        @foreach (var item in Model)
        {
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary"> @item.Departmant.University.UniversityName - @item.Departmant.DepartmantName </h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Şikayet Et</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
            <div class="card-body">
                    @*<div class="chart-area"><canvas id="myAreaChart"></canvas></div>*@
                    <a href="~/Entry/EntryReadAll/@item.EntryID/">@item.EntryContent</a>
                </div>
                <hr />
                <div class="mb-3">
                    <div class="row container">
                        <div class="col-7">
                            <a href="#">
                                <i class="far fa-calendar-alt"></i> @(((DateTime)item.EntryCreateDate).ToString("dd-MMM-yyyy"))
                            </a><a href="#">
                                <i class="far fa-thumbs-up pl-2"></i> 201 Likes
                            </a><a href="#">
                                <i class="far fa-comment pl-2"></i> 15 Comments
                            </a>
                        </div>

                        @await Component.InvokeAsync("GetUserNickName",new {id=item.UserID})

                    </div>

                </div>
            </div>

        }
    </div>
    <!-- Pie Chart -->
    <div class="col-xl-5 col-lg-5 ">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Önerme</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                </div>

            </div>
        </div>
    </div>
</div>
