@using EntityLayer.Concrete
@model List<Entry>
@{
    ViewData["Title"] = "UniversityEntryPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">@item.Departmant.DepartmantName  </h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                     aria-labelledby="dropdownMenuLink">
                        
                        <a class="dropdown-item" href="/Entry/EntryEdit/@item.EntryID">Düzenle</a>
                        <a class="dropdown-item" href="/Entry/EntryDelete/@item.EntryID">Sil</a>
                        
                    </div>
                </div>
            </div>
            <!-- Card Body -->
        <div class="card-body">
                @item.EntryContent
            </div>
            <hr />
            <div class="blog-info-middle">

                <div class="row container-fluid">
                    <li>
                        <a href="#">
                            <i class="far fa-calendar-alt"></i> @(((DateTime)item.EntryCreateDate).ToString("dd-MMM-yyyy"))
                        </a>
                    </li>
                    <li class="mx-2">
                        <a href="#">
                            <i class="far fa-thumbs-up"></i> 201 Likes
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="far fa-comment"></i> 15 Comments
                        </a>
                    </li>
                </div>
                <ul></ul>
            </div>
        </div>
    </div>
}
