@model IEnumerable<EntityLayer.Concrete.University>
@{
    ViewData["Title"] = "EntryAdd";
    Layout = "";
}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Blank</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

</head>


<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Kayıt ol!</h1>
                            </div>
                            <form class="user" method="post">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName" name="UserFirstName"
                                               placeholder="Adınız">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName" name="UserLastName"
                                               placeholder="Soyadınız">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleNickName" name="UserNickName"
                                               placeholder="Nickname">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="tel" class="form-control form-control-user" id="examplePhone" name="UserTelNo"
                                               placeholder="Tel no">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail" name="UserMail"
                                           placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <select class="form-control form-control-range " style="border-radius:30px" id="UniversityList">
                                        <option>Bir Üniversite Seçiniz</option>
                                        @foreach (var item in Model)
                                        {
                                            <option value="@item.UniversityID">@item.UniversityName.Substring(0,16)...</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control form-control-range " style="border-radius:30px" id="DepartmantList" name="DepartmantID">
                                        <option>Bir Bölüm Seçiniz</option>
                                    </select>
                                </div>
                                @*Buraya Üniversite Kısmı*@
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                               id="exampleInputPassword" name="UserPassword" placeholder="Şifre">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                               id="exampleRepeatPassword" placeholder="Şifre Tekrar">
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-user btn-block" type="submit">
                                    Kayıt Ol
                                </button>
                                <hr>
                                
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Şifreni mi unuttun?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login.html">Zaten hesabın mı var? Giriş yap!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>


</body>

<script type="text/javascript">
    $(document).ready(function(){
        $('#UniversityList').change(function(){
            $('#DepartmantList').empty();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetDepartmantList")',
                dataType: 'json',
                data: {id: $('#UniversityList').val()},

                success : function(departmants){
                    $('#DeparmantList').append('<option value"' + (-1) + '">'
                    + "Bölüm Seçiniz" + '</option>');
                    $.each(departmants, function(i,departmant){
                        $('#DepartmantList').append($('<option/>').val(departmant.value).text(departmant.text));
                    });
                }
            });
        });
    });

</script>
  